<h1 class="m-4 font-mono text-3xl">$ cd ~</h1>
<p class="m-4 font-mono text-2xl">$ whoami</p>

<div class="m-4">
  <h1 class="m-4 text-purple text-6xl">daniel liu</h1>
  <h2 class="m-4 text-yellow text-3xl">esoteric language connoisseur, assembly geek, and just an overall nerd</h2>
  <h3 class="m-4 text-3xl">let's get in touch</h3>
  <p class="m-4 align-middle">
    <span class="inline-block align-middle">email:</span> <a class="inline-block align-middle m-2 text-xl" href="mailto:danlliu@umich.edu">&lt;danlliu [at] umich.edu&gt;</a><br/>
    <span class="inline-block align-middle">github:</span> <a class="inline-block align-middle m-2 text-xl" href="https://www.github.com/danlliu" target="_blank">&lt;@danlliu&gt;</a><br/>
    <span class="inline-block align-middle">linkedin:</span> <a class="inline-block align-middle m-2 text-xl" href="https://www.linkedin.com/in/danlliu" target="_blank">&lt;/in/danlliu&gt;</a><br/>
  </p>
  <span class="m-4 inline-block align-middle"><img class="inline-block" src="assets/github.png" width="16" height="16"/> <span class="align-middle">check out my website's <a href="https://www.github.com/danlliu/danlliu.github.io">source on GitHub</a> (you might find some fun easter eggs!)</span></span>
</div>
