name: Validate build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.8.1'
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
    
      - name: Install dependencies
        run: ./setup.sh

      - name: Run make
        run: make

      - name: Archive website
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build/